h1{
color: tomato;
text align:center;
}
@media (min-width:700px){
h1::before{
content:"tengo espacio";
}
}
@media (min-width:500px){
h1::after{
content:" no tengo espacio";
}
}
@media print {
.no imprimir{
display:none;
}
.contenedor{
display:flex;
flex-wrap:wrap-reverse;
}
.contenedor > p {
background-color:crimson;
font-size:36px;
margin:20px;
padding:20px;
width:200px;
}
p::selection{
font-size: large;
color: crimson;
background-color: cyan;
}
.grid{
background-color:crimson;
display:grid;
padding:20px;
margin:20px;
grid-column-gap:20px;
}
a::before{
content:"haz click en";
font-weigth:bold;
}
button{
font-size:32px;
background-color:blue;
}
button:hover{
background-color:rose;
}
ul > li{
color: crimson;
text align:center;
}
ol > li{
color: cyan;
text align:center;
}
a[href="https:www.netflix.com"]{
color:green;
}
table{
display:table;
border: 1px solid;
width: 50%;
table-layout:fixed;
}
.row{
background-color: cyan;
width: 50%;
font-size: large;
font-family: cursive;
font-style: italic;
font-weight: bolder;
border:1px solid;
display: table-row;
}
.td,.tf{
background-color: cyan;
width: 50%;
font-size: large;
font-family: cursive;
font-style: italic;
font-weight: bolder;
border:3px solid;
padding:3px;
display: table-cell;
}
.cell{
background-color: cyan;
width: 50%;
font-size: large;
font-family: cursive;
font-style: italic;
font-weight: bolder;
border:3px solid;
padding:3px;
display: table-cell;
.PR{
margin: 1em auto 2em;
}
.tcs{
display:table-column;
border:3px solid;
padding:3px;
}
.tbody{
display:table-row-group;
}
.thead{
display:table-header-group;
}
.cspan{
width:200%;
background-color: cyan;
;
}
.rspan{
float:left;
display:inline-block;
position:relative;
top:15px;
width: 100%;
background-color: cyan;
}