.contenedor{
display:flex;
flex-wrap:wrap-reverse;
}
.contenedor > p {
background-color:crimson;
font-size:36px;
margin:20px;
padding:20px;
width:200px;
}
.grid{
background-color:crimson;
display:grid;
padding:20px;
margin:20px;
grid-column-gap:20px;
grid-row-gap:20px;
grid-template-columns:200px auto;
grid-template-rows:auto;
}
.item{
background-color:yellow;
padding:20px;
text-aling:center;
}